<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">
<th:block layout:fragment="css">
<link rel="stylesheet" th:href="@{/css/index/banner.css}">
<link rel="stylesheet" th:href="@{/css/index/main1.css}">
<link rel="stylesheet" th:href="@{/css/index/main2.css}">
<link rel="stylesheet" th:href="@{/css/index/main1_size.css}">
<link rel="stylesheet" th:href="@{/css/index/main3.css}">
</th:block>
<th:block layout:fragment="script">
<script src="https://kit.fontawesome.com/ba16334cfd.js" crossorigin="anonymous"></script>
</th:block>
<div layout:fragment="content">
  <body>
  <div class="container__banner">
    <div class="banner">
      <div class="slide slide_wrap">
        <div class="slide_item item1"><a href="" th:href="@{/give}"><img src="/img/견적요청_배너.png" alt=""></a></div>
        <div class="slide_item item2"><a href="" th:href="@{/mapApi}"><img src="/img/편의점_배너.png" alt=""></a></div>
        <div class="slide_item item3"><a href="" th:href="@{/mapApi/aed}"><img src="/img/제세동기.png" alt=""></a></div>
        <div class="slide_item item4"><a href="" th:href="@{/cus_center}"><img src="/img/가이드_배너.png" alt=""></a></div>
        <div class="slide_prev_button slide_button">◀</div>
        <div class="slide_next_button slide_button">▶</div>
        <ul class="slide_pagination"></ul>
      </div>
    </div>
  </div>
  <script src="/js/banner.js"></script>

  <!-- 메인1(서비스추천) 시작 -->
  <div class="container__main1">
    <div class="main1">
      <div class="top__main1">
        <div class="service__main1"><h2>서비스 추천</h2></div>
        <div class="full__main1"><a href="" th:href="@{/give}"><i class="fa-solid fa-angles-right" style="color: #00B0FA"></i>더보기</a></div>
      </div>
      <div class="content__main1">
        <div class="sec__main1">
          <div class="box__main1 box1" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/aaa.jpg" class="rcmImg">
            <div class="menu__main1 menu1"><a href="#"><h4 class="rcmTxt">포장 이사</h4></a></div>
          </div>
          <div class="box__main1 box2" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/bbb.jpg"class="rcmImg">
            <div class="menu__main1 menu2"><a href="#"><h4 class="rcmTxt">개인 PT</h4></a></div>
          </div>
          <div class="box__main1 box3" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/ccc.jpg"class="rcmImg">
            <div class="menu__main1 menu3"><a href="#"><h4 class="rcmTxt">수학 과외</h4></a></div>
          </div>
          <div class="box__main1 box4" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/ddd.jpg"class="rcmImg">
            <div class="menu__main1 menu4"><a href="#"><h4 class="rcmTxt">웹 디자인</h4></a></div>
          </div>
          <div class="box__main1 box5" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/eee.jpg"class="rcmImg">
            <div class="menu__main1 menu5"><a href="#"><h4 class="rcmTxt">배달 심부름</h4></a></div>
          </div>
          <div class="box__main1 box6" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/fff.jpg"class="rcmImg">
            <div class="menu__main1 menu6"><a href="#"><h4 class="rcmTxt">벌레 잡기</h4></a></div>
          </div>
          <div class="box__main1 box7" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/ggg.jpg"class="rcmImg">
            <div class="menu__main1 menu7"><a href="#"><h4 class="rcmTxt">반려견 산책</h4></a></div>
          </div>
          <div class="box__main1 box8" onclick="location.href='#'" style="cursor: pointer;">
            <img src="/img/hhh.jpg"class="rcmImg">
            <div class="menu__main1 menu8"><a href="#"><h4 class="rcmTxt">법률 도움</h4></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 메인2(하마찾기) 시작 -->
<!--  <div class="main2">-->
<!--    <div class="container__main2">-->
<!--      <div class="main2">-->
<!--        <div class="section__main2">-->
<!--          &lt;!&ndash; 제목 : 하마찾기 &ndash;&gt;-->
<!--          <div class="main2_head">-->
<!--            <div class="title__main2"><h2>하마찾기</h2></div>-->
<!--            <div class="full__main2"><a href="#"><i class="fa-solid fa-angles-right" style="color: #00B0FA" ></i>더보기</a></div>-->
<!--          </div>-->
<!--          <div class="information__main2">-->
<!--            &lt;!&ndash; 박스 1 &ndash;&gt;-->
<!--            <div class="item__main2">-->
<!--              <div class="box1__main2">-->
<!--                &lt;!&ndash; 이미지 &ndash;&gt;-->
<!--                <div class="pic__main2"><img src="/img/aaa.jpg" alt=""></div>-->
<!--                &lt;!&ndash; 직업, 별명 &ndash;&gt;-->
<!--                <div class="box1_head">-->
<!--                  <div class="job__main2">우주하마 전문가</div>-->
<!--                  <div class="nickname__main2">리얼하마 하마님</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; 소개글 &ndash;&gt;-->
<!--              <div class="box2__main2"><p>[작품해설] 1948년 정음사에서 간행된 유고시집 『하늘과 바람과 별과 시』의 마지막에 수록된 윤동주의 시 작품. </p></div>-->
<!--              &lt;!&ndash; 매칭,경력 &ndash;&gt;-->
<!--              <div class="box3__main2">매칭10회 · 경력15년-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="item__main2">-->
<!--              <div class="box1__main2">-->
<!--                <div class="pic__main2"><img src="/img/bbb.jpg" alt=""></div>-->
<!--                <div class="box1_head">-->
<!--                  <div class="job__main2">프로게이머</div>-->
<!--                  <div class="nickname__main2">라일라이 하마님</div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="box2__main2"><p>좋았쒀! 영촤! </p></div>-->
<!--              <div class="box3__main2">매칭2회-->
<!--                · 경력15년-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <!-- 메인3(커뮤니티) 시작 -->
  <div class="main3">

    <!--커뮤니티 전체 박스-->
    <div class="community__main3">

      <!--커뮤니티 메뉴박스(전체보기/궁금얼마모여)-->
      <div class="community__menu">

        <div class="community__more">
          <div class="title__main3"><h2>커뮤니티</h2></div>
          <div class="full__main3"><a href="#"><i class="fa-solid fa-angles-right" style="color: #00B0FA" ></i>더보기</a></div>
        </div>

        <div class="community__cate">
          <span class="community__cate__desc"><a class="community__cate__link" href="#">궁금해요</a></span>
          <span class="community__cate__desc"><a class="community__cate__link" href="#">얼마예요</a></span>
          <span class="community__cate__desc"><a class="community__cate__link" href="#">모여봐요</a></span>
        </div>

      </div>

      <!--게시글 박스-->
      <div class="community__post">
        <div class="item__main3" th:each="comu : ${comu}">
          <div class="item__cate">궁금해요</div>

          <!--사진+제목+내용 박스-->
          <div class="item__post">
            <img class="pic" src="https://picsum.photos/50" alt="" />

            <ul class="desc">
              <li class="item__post__desc__title" th:text="${comu.title}">이 강아지모델 이름 혹시 알 수 있을까요?</li>
              <li class="commu_text_" th:utext="${comu.content}">인스타 계정 아시는 분 댓글 부탁드려요~!</li>
            </ul>
          </div>
        </div>
<!--&#45;&#45;&#45;&#45;-->
<!--        <div class="item__main3">-->
<!--          <div class="item__cate">궁금해요</div>-->

<!--          &lt;!&ndash;사진+제목+내용 박스&ndash;&gt;-->
<!--          <div class="item__post">-->
<!--            <img class="pic" src="https://picsum.photos/50" alt="" />-->

<!--            <ul class="desc">-->
<!--              <li class="item__post__desc__title">아파트 입주 청소 견적 도와주세요</li>-->
<!--              <li class="commu_text_">27평 아파트 입주를 하는데 청소 도우미를 부르면 비용이 어느 정도 될까요?</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->


<!--        <div class="item__main3">-->
<!--          <div class="item__cate">궁금해요</div>-->

<!--          &lt;!&ndash;사진+제목+내용 박스&ndash;&gt;-->
<!--          <div class="item__post">-->
<!--            <img class="pic" src="https://picsum.photos/50" alt="" />-->
<!--            <ul class="desc">-->
<!--              <li class="item__post__desc__title">울산에서 피아노 개인 레슨 잘하시는 분 알려주세요</li>-->
<!--              <li class="commu_text_">입시생입니다. 과외 선생님 소개 받아요.</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->


<!--        <div class="item__main3">-->
<!--          <div class="item__cate">궁금해요</div>-->

<!--          &lt;!&ndash;사진+제목+내용 박스&ndash;&gt;-->
<!--          <div class="item__post">-->
<!--            <img class="pic" src="https://picsum.photos/50" alt="" />-->
<!--            <ul class="desc">-->
<!--              <li class="item__post__desc__title">커밋 인형 구매처 알려주실 분?</li>-->
<!--              <li class="commu_text_">부산 살고 있는데 오프라인 구매처 혹시 아시면 알려주세요!! :)</li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->


      </div>
    </div>
  </div>

  </body>
</div>

</html>