<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/header}">


<head>
  <title>SummerNoteExample</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" th:href="@{/css/community/community_posting.css}">

  <link rel="stylesheet" href="/summernote/summernote-lite.css">
  <script th:inline="javascript">
    $(document).ready(function() {
        $('.summernote').summernote({
            height: 450,
            lang: "ko-KR"
        });
    });
  </script>
  <script th:inline="javascript" src="/summernote/summernote-lite.js"></script>
  <script th:inline="javascript" src="/summernote/lang/summernote-ko-KR.js"></script>
</head>


<body>
<div layout:fragment="content">
  <div class="container_commu">
    <div class="containerWrap_commu">
      <!-- 사이드 메뉴 -->
      <!-- ... (사이드 메뉴 부분은 그대로 두세요) -->
      <div class="commu_side">
        <div class="side side_question"> <a th:href="@{/community/question}">궁금해요</a></div>
        <div class="side side_howMuch"><a th:href="@{/community/howmuch}">얼마예요</a></div>
        <div class="side side_gethering"><a th:href="@{/community/gethering}">모여봐요</a></div>
        <script>
          // 검색 버튼 클릭 이벤트 처리
          document.getElementById('search2').addEventListener('click', function () {
              // 검색어 입력란의 값을 가져옴
              var searchText = document.getElementById('search1').value;

              // 검색어를 사용하여 원하는 동작을 수행 (예: 검색 결과 표시)
              alert('검색어: ' + searchText); // 여기에 실제 검색 로직을 추가하세요.
          });
        </script>
      </div>
      <div class="main_commu_2">

        <!-- 커뮤니티 페이지 제목 -->
        <div class="commu_title">
          <div id="title1">
            <h2>글 수정</h2>
            <div id="title2"><br>글을 수정해보세용
            </div>
          </div>
        </div>


<div class="commu_content" id="content-container">
  <form action="" method="post" enctype="multipart/form-data" th:object="${postForm}">
    <select name="comu_gubun" id="comu_gubun" th:value="${community.comu_gubun}">
      <option value="궁금해요">궁금</option>
      <option value="얼마예요">얼마</option>
      <option value="모여봐요">모여</option>
    </select>
    <input name="title" type="text" th:value="${community.title}">
    <textarea class="summernote" name="content" th:text="${community.content}"></textarea>
    <button type="submit">수정완료</button>
  </form>
</div>
      </div>
    </div>
  </div>
</div>
</body>

</html>