<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="css">

</th:block>
<div th:fragment="header">
  <body>
  <div class="header">
    <div class="headers">
      <div class="logo_loggo">

        <!-- logo / 로고 -->
        <a class="logo" th:href="@{/}">
          <img th:src="@{/img/로고.png}" width="140px" height="70px"></a>
      </div>

      <!-- 로고 옆 gnb 커뮤니티,채팅 등등 -->
      <div class="gnb">
        <ul class="menu">
          <!-- 일을주마 -->
          <li>
            <a href="#" th:href="@{/give}">일을주마</a>
            <ul class="depth_1">
              <li><a href="" th:href="@{/give}">견적요청</a></li>
            </ul>
          </li>
          <!-- 일을하마 -->
          <li>
            <a href="#" th:href="@{/requestBoard}">일을하마</a>
            <ul class="depth_1">
              <li><a href="" th:href="@{/requestBoard}">요청게시판</a></li>
            </ul>
          </li>
          <!-- 커뮤니티 -->
          <li>
            <a href="#" th:href="@{/community/question}">커뮤니티</a>
          </li>
          <!-- 하마찾기 -->
          <li>
            <a href="#" th:href="@{/cus_center}">고객센터</a>
          </li>
        </ul>
      </div>
      <th:block th:if="${session.s_memberid == null}">
      <div class="login_signup">
        <a class="login" th:href="@{/login}">로그인</a>
        <a class="login" th:href="@{/signup}">회원가입</a>
        <div class="login2" style="display : none; ">
          <li>
            <a href="#"><i class="fa-solid fa-user"></i></i></a>
            <ul class="depth_1">
              <li><p>회원관리</p></li>
              <li><a href="#">프로필등록</a></li>
              <li><a href="#">회원정보수정</a></li>
            </ul>
          </li></div>
      </div>
      </th:block>
      <!-- 로그인,회원가입  -->
      <th:block th:if="${session.s_memberid != null}">
      <div class="login_signup">
        <div></div>
        <a class="login" th:href="@{/getEs}">견적함</a>
        <a class="login" th:href="@{/postRq}">요청함</a>
        <div class="login2" style="cursor: pointer;">
          <li class="mypage">
            <a href="#" class="mypagea">
              <img src="" class="mypageImg" th:src="@{|/view/${session.sessionForm.pic}|}" th:if="${session.sessionForm.pic}">
              <i class="fa-solid fa-user" th:unless="${session.sessionForm.pic}" ></i>
            </a>
            <ul class="depth_1">
              <li><p>회원관리</p></li>
              <li><a href="" th:href="@{/update}">회원정보수정</a></li>
              <li><a href="" th:href="@{/logout}">로그아웃</a></li>
            </ul>
          </li></div>

      </div>
      </th:block>
    </div>
  </div>
  </body>
</div>
</html>