*{
    margin: 0px; padding: 0;
}
/* *{outline: 1px solid grey;} */

/* 요청함 전체 */
.req_container{
    display: grid;
    grid-template-areas: 
    "left main .";
    grid-template-columns: 1fr 1024px 1fr;
    margin-bottom: 100px;
    background-color: gold;
}

/* 보낸요청 / 받은 요청 */
.req_section1{
    grid-area: left;
    min-width: 300px;
}

/* 메인 */
.req_section2{
    grid-area: main;
}

/* 페이지 제목 : 요청함 */
.req_section2.req_main .title {
    height: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding-right: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 1px solid #00B0FA;
    color: #0056b3;
}
.req_section2.req_main .title i{
    margin: 7px;
    font-size: .9em;
}
/* 보낸 요청 박스 테두리 */
.reqBoxWrap {
    border: 1px solid #888;
    border-radius: 10px;
    width: 1020px;
}
/* 보낸 요청 박스 : 제목 + 본문 + 아이콘 */
.reqBox{
    display: grid;
    grid-template-areas: 
    "reqBox_Title reqBox_Title"
    "reqBox_Content reqBox_Icon";
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 5fr;
}

/* 보낸 요청 박스 : 제목(카테고리) */
.reqBox_Title{
    grid-area: reqBox_Title;
    background-color: #888;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 7px 7px 0px 0px;
}

/* 보낸 요청 박스 : 본문 */
.reqBox_Content{
    grid-area: reqBox_Content;
    display: grid;
    grid-template-areas: 
    "user pay"
    "sendDate hopeDate"
    "coment coment";
    padding: 30px 20px;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
    row-gap: 20px;
}
.reqBox_Content{
    color: #888;
}
.req_content1{
    grid-area: user;
    display: flex;
}
.req_content2{
    grid-area: pay;
    display: flex;
}
.req_content3{
    grid-area: sendDate;
    display: flex;
}
.req_content4{
    grid-area: hopeDate;
    display: flex;
}
.req_content5{
    grid-area: coment;
    display: flex;
}
#content1, #content3, #content5, #content7, #content9{
    margin-right: 20px;
    font-weight: bold;
    color: #888;
    width: 100px;
}
#content10{
    width: 600px;
    overflow: auto;
}

/* 보낸 요청 박스 : 아이콘 */
.reqBox_Icon{
    grid-area: reqBox_Icon;
    font-size: 2.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    cursor: pointer;
    color: #888;
}
.reqBox i.fa-paper-plane{
    margin-right: 30px;
}

/* reqBox에 hover 시 변경 */
.reqBoxWrap:hover {
    border: 3px solid #00B0FA;
}
.reqBox:hover .reqBox_Title {
    background-color: #00B0FA;
    color: white;
}
.reqBox:hover #content1,
.reqBox:hover #content3,
.reqBox:hover #content5,
.reqBox:hover #content7,
.reqBox:hover #content9 {
    color: #0056b3;
}
.reqBox:hover #content2,
.reqBox:hover #content4,
.reqBox:hover #content6,
.reqBox:hover #content8,
.reqBox:hover #content10 {
    color: #000;
}
.reqBox:hover i.fa-paper-plane,
.reqBox:hover i.fa-trash-can {
    color: #00B0FA;
}
/* 아이콘 요소 직접 hover 시 색상 변경 */
.reqBox .fa-paper-plane:hover,
.reqBox .fa-trash-can:hover {
    color: #0056b3 !important;
}


/* 좌측 사이드 메뉴 */
.req_section1.req_sideMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 200px;  
    list-style: none;
    font-size: 1.5em;
}
/* 링크버튼 */
.req_section1.req_sideMenu .sendReq ,
.req_section1.req_sideMenu .receiveReq {
    padding-right: 50px;  
    margin-bottom: 30px;
    text-decoration: none;
}
.req_section1.req_sideMenu .sendReq:hover ,
.req_section1.req_sideMenu .receiveReq:hover {
    text-decoration: underline;

}

/* 보낸요청 */
.req_section1.req_sideMenu .sendReq a {
    text-decoration: none;
    color: #000;
}
/* 받은 요청 */
.req_section1.req_sideMenu .receiveReq a{
    font-weight: bold;
    color: #0056b3;
    text-decoration: none;
}
/* 페이지 표시 아이콘 */
.fa-location-arrow{
    margin-right: 5px;
}